* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B91350;

}

.bg-color-purple{
    background-color: #B91350;
}

.etichetta{
    color: #B91350;
}
.btn{
    background-color: lightgray;
    color: #B91350;
    font-size: 20px;
    justify-content: center;
    border: 1px solid black;
    

}

.container-input{
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
    margin: auto;
}

.container-biglietto{
    width: 80%;
    height: 200px;
    margin: auto;
}

.col{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}